# API connection
PORT = 
RATE_LIMIT = 
MAX_REQUESTS = 

# Database connection
DB_HOST = 
DB_USERNAME = 
DB_PASSWORD = 
DB_PORT = 
DB_NAME = 
DIALECT = 
ALTER_DB = 

# BSCT Configs
PRIVATE_KEY = 
BSCT_JSON_RPC_URL = 
GUC_TOKEN_ADDRESS = 
NUM_GUC_TO_TRANSFER = 

# Mail Static Paths
TEMPLATES_PATH = 

# Logger Configurations
TIME_FORMAT = 
MAX_SIZE = 
# Logger Static Paths
LOGGER_ERROR_PATH = 
LOGGER_COMBINED_PATH = 

# JWT Configs
ALGORITHM = 
EXPIRES_IN = 

# Multer Configs
FILE_SIZE = 
MIMETYPES = 
# Multer Static Paths
IMAGE_UPLOAD = 

# Donation Certificate Configs
CERTIFICATE_UPLOAD = 